[tool.poetry]
name = "asyncur"
version = "0.1.1"
description = ""
authors = ["Waket Zheng <waketzheng@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
anyio = ">=3.7.1"
pandas = "^2.1.0"
openpyxl = "^3.1.2"


[tool.poetry.group.dev.dependencies]
fast-tort-cli = {extras = ["all"], version = "^0.1.1"}
pandas-stubs = "^2.0.3.230814"
ipython = "^8.15.0"
pytest = "^7.4.2"
coverage = "^7.3.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
