[tool.poetry]
name = "asyncur"
version = "0.4.1"
description = "Async functions to compare with anyio and asyncio, and toolkit to read excel with async/await."
authors = ["Waket Zheng <waketzheng@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
anyio = ">=3.7.1"
pandas = {version = "^2.2.1", optional = true}
openpyxl = {version = "^3.1.2", optional = true}
exceptiongroup = { version = ">=1.2.0", python = "<3.11" }

[tool.poetry.extras]
xls = ["pandas", "openpyxl"]


[tool.poetry.group.dev.dependencies]
fast-dev-cli = {version = ">=0.6.2", python = ">=3.11", extras = ["all"]}
pandas-stubs = "^2.2.1.240316"
coveralls = "^3.3.1"
pandas = "*"
openpyxl = "*"

[tool.isort]
profile = "black"

[tool.mypy]
pretty = true
ignore_missing_imports = true
check_untyped_defs = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
